.us{
    width: 100%;
    position: relative;
    top: 90px;
}

.us-1{
    width: 81.25%;
    margin: 20px auto auto auto;
}
.us-1 img{
    width: 100%;
}
.us-1 h1{
    font-size: 30px;
    color: #222;
    margin-top: 80px;
    margin-bottom: 70px;
    margin-left: 40px;
}
.us-1 p{
    color: #222;
    font-size: 14px;
    line-height: 24px;
    margin-left: 40px;
    margin-bottom: 186px;
}