.content{
    width: 81.25%;
    margin: 0 auto;
    max-width: 1300px;
    /* min-width: 800px; */
}
/* ------------------------------------------------------------------- */
.bottom-content{
    position: relative;
    top:0.9rem;
    min-width: 8rem;
}
.bottom-content h1{
    font-size: 0.3rem;
    text-align: center;
    letter-spacing: 2px;
}
.fonts{
    background: url('../img/prodectcenter/hrart27.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 3.5rem;
}
.fonts .font-name{
    width: 80%;
    float: right;
    height: 100%;
    padding-top: 0.6rem;
    text-align: center;
    font-size: 0.16rem;
}
.fonts .font-name p{
    color: #fff;
}
.fonts .font-name .tms{
    font-size: 0.3rem;
    color: #fff;
}
.fonts .font-name .pingtai{
    line-height: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}
.fonts .font-name div{
    display: inline-block;
    width: 1.4rem;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
    margin-left: 0.3rem;
}
.fonts .font-name .btn1{
    background-color: #ff871c;
    color: white;
}
.fonts .font-name .btn1 a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.fonts .font-name .btn2{
    background-color: #fff;
    color: #ff871c;
}


/* ---------------------------------------------------------- */
.icon-5{
    font-size: 16px;
}
.icon-5 p:nth-of-type(2){
    margin-top: 8px;
}


/* ---------------------------------- */
.business-setting{
    min-width: 10.5rem;
    background-color: rgb(36, 34, 34);
    color: #fff;
    padding: 0 1rem;
    padding-bottom: 1rem;
    padding-top: 97px;
}
.business-setting h1{
    font-size: 0.3rem;
    text-align: center;
    margin-bottom: 59px;
}
.business-setting ul li{
    width: 250px;
    font-size: 0.14rem;
    text-align: left;
    line-height: 0.3rem;
    letter-spacing: 2px;
    margin: 0 auto;
}
.business-setting ul li span{
    display: inline-block;
    background-color: #fff;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    margin-right: 5px;
}
.business-setting .flow-bg{
    margin: 0 auto;
    margin-top: 0.3rem;
    width: 100%;
    max-width: 10rem;
    min-height: 4rem;
    background: url('../img/prodectcenter/zhu36.png') no-repeat;
    background-size: 100% 100%;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.clould-feature{
    padding-top: 95px;
    text-align: center;
    background: #f7fbff;
}
.clould-feature-title{
    margin-bottom: 56px;
    font-size: 30px;
}
.clould-feature-title-1{
    margin-bottom: 16px;
    font-size: 14px;
}
.clould-feature img{
    display: block;
    width: 880px;
}
.clould-feature-1{
    margin:0 auto;
    width: 880px;
    height: 620px;
    margin-top: 108px;
}
.clould-feature-1 div{
    float: left;
    margin-top: 32px;
}
.clould-feature-1 div:nth-of-type(1){
    font-size: 24px;
    margin-left: -10px;
}
.clould-feature-1 div:nth-of-type(2){
    margin-top: 20px;
    font-size: 16px;
    margin-left: 100px;
    text-align: left;
}
.clould-feature-1 div:nth-of-type(3){
    margin-top: 20px;
    font-size: 16px;
    margin-left: 108px;
}
.clould-feature-1 div:nth-of-type(4){
    font-size: 24px;
    position: relative;
    left: 120px;
}
.clould-feature-1 p{
    width: 200px;
    margin-bottom: 10px;
}
.clould-feature-1 div:nth-of-type(2) p{
    width: 100px;
}
.clould-feature-1 div:nth-of-type(3) p{
    width: 100px;
    text-align: left;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++ */
.mobile-feature{
    width: 100%;
    height: 100%;
    padding-top: 95px;
    padding-bottom: 181px;
    text-align: center;
}
.mobile-feature-title{
    font-size: 30px;
    margin-bottom: 60px;
    color: #000;
}
.mobile-feature-content{
    font-size: 14px;
    color: #222;
    margin-bottom: 87px;
}
.mobile-feature-1{
    position: relative;
    float: left;
    margin: 0 5% 31px 7.5%;
    width: 40%;
    height: 25vw;
    max-width: 500px;
    max-height: 390px;
    min-height: 250px;
    background: url(../img/TMS/zu19.png);
    background-size: 100% 100%;
}
.mobile-feature-2{
    position: relative;
    float: left;
    margin-bottom:30px;
    width: 40%;
    height: 25vw;
    max-width: 500px;
    max-height: 390px;
    min-height: 250px;
    background: url(../img/TMS/zu20.png);
    background-size: 100% 100%;
}
.mobile-feature-1 ul{
    width: 130px;
    height: 160px;
}
.mobile-feature-2 ul{
    width: 171px;
    height: 125px;
}
.mobile-feature ul{
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    color: #fff;
}
.mobile-feature li::before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
}
.mobile-feature li{
    margin-top: 10px;
}

.title-1{
    clear: left;
    float: left;
    margin-left: 22%;
    font-size: 24px; 
}
.title-2{
    float: left;
    margin-left: 41%;
    font-size: 24px;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.date-share{
    text-align: center;
    width: 100%;
    padding-top: 87px;
    padding-bottom: 59px;
    background: #f7fbff;
}
.date-share-title{
    margin-bottom: 44px;
    font-size: 30px;
    color: #000;
}
.date-share-content-1{
    color: #222;
    margin-bottom: 12px;
    font-size: 14px;
}
.date-share-content-2{
    color: #222;
    margin-bottom: 120px;
    font-size: 14px;
}
.date-link{
    clear: both;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-size: 14px;
    color: #222;
    max-width: 1200px;
}
.date-link>div:nth-of-type(1){
    width: 375px;
}
.date-share-title-1 div{
    text-align: left;
    float: left;
    margin-bottom: 16px;
}
.date-share-title-1 img{
    float: left;
}
.date-share-title-1 p{
    float: left;
    font-size: 24px;
    color: #222;
    margin-top: 34px;
    margin-left: 5%;
}
.date-link>img{
    width: 119px;
    height: 119px;
    position: relative;
    top: 76px;
}
.date-link li{
    clear: both;
    margin-top: 16px;
}
.date-link>div:nth-of-type(1) ul{
    min-width: 375px;
}
.date-link>div:nth-of-type(2) ul{
    min-width: 386px;
}
.date-link li::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 114px;
    background: #000;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.operation-model{
    padding-top: 80px;
    padding-bottom: 184px;
    text-align: center;
}
.operation-model-title{
    font-size: 30px;
    color: #222;
    margin-bottom: 117px;
}
.operation-model-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.operation-model-left{
    width: 410px;
    height: 167px;
    background: #eee;
    margin-right: 3%;
}
.operation-model-left p{
    margin-top: 12px;
    color: #666666;
    font-size: 14px;
}
.operation-model-left p:nth-of-type(1){
    margin-top: 50px;
    color: #16161d;
    font-size: 26px;
}
.operation-model-right{
    width: 410px;
    height: 48px;
}
.operation-model-right a:nth-of-type(1){
    display: inline-block;
    width: 175px;
    height:48px;
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    background: #00a2ff;
    border: 1px solid #00a2ff;
    margin-right: 10px;
}
.operation-model-right a:nth-of-type(2){
    display: inline-block;
    width: 175px;
    height:48px;
    font-size: 16px;
    line-height: 48px;
    color: #00a2ff;
    border: 1px solid #00a2ff;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.customer-service{
    padding-top: 70px;
    padding-bottom: 120px;
    width: 100%;
    background: #0096ff;
    color: #fff;
    text-align: center;
}
.customer-service-title{
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 80px;
}
.customer-service ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.customer-service li p{
    margin-top: 12px;
    font-size: 14px;
}
.customer-service li p:nth-of-type(1){
    margin-top: 20px;
    font-size: 29px;
}