.model {
    margin-top: 0.5rem;
}
.model .m-1{
    text-align: center;
    width: 100%;
	background: url(../../img/e-cmmerce/first-page.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
body #mb-box .title-h1{
    margin-bottom: 10px;
}
.m-1 p:nth-of-type(1){
    margin-bottom: 8px;
}
.m-1 p{
    color: #fff;
	font-size: 14px;
    text-align: center;
}
.m-l-a{
    padding: 10px 0;
	margin: 0px auto;
	text-align: center;
}
.m-l-a a{
	display: inline-block;
	text-align: center;
    line-height: 20px;
    padding: 6px 0px;
    width: 80px;
	text-decoration: none;
}
.m-l-a a:nth-of-type(1){
	background-color: #00a2ff;
    margin-right: 12%;
	color: #fff;
}
.m-l-a a:nth-of-type(2){
	color: #00a2ff;
	background-color: #fff;
}
/* ------------------------- */
.m-2{
    text-align: center;
    width: 100%;
    padding-top: 30px;
}
.m-2 .e-list img{
    width: 100%;
}
.m-2 h1{
    font-size: 17px;
    font-weight: 700;
}
/* -------------- */
.m-3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.m-3 .parimg img{
    width: 100%;
}
/* ------------ */
.m-4{
    text-align: center;
    padding: 26px;
    width: 100%;
    height: 68vw;
    background: url(../../img/e-cmmerce/o2c.png) no-repeat;
    background-size: 100% 100%;
}
.m-4 h1{
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}
/* ---------- */
.m-5{
    text-align: center;
    margin-top: 10px;
}
.m-5 .title>p:nth-child(1){
    font-size: 15px;
    font-weight: bold;
}
.m-5 .title>p:nth-child(2){
    width: 80%;
    margin: 0 auto;
}
.m-5 .function{
    height: 100%;
}
.m-5 .function li {
    display: inline-block;
    width: 42%;
    min-width: 42%;
    margin-top: 30px;
}
.m-5 .function li:nth-of-type(7){
    margin-left: 5%;
}
.m-5 .function-title {
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}
.m-5 .function-content{
    font-size: 10px;
}
.m-5 .function-1, .fun-2,.fun-3 {
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    color: #969798;
    white-space: nowrap;
}
.m-5 .clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.m-5 .clearfloat{zoom:1} 
/* -------------- */
.m-6{
    width: 100%;
    margin-top: 30px;
}
.m-6 div{
	margin:0 auto;
	text-align: center;
	width: 100%;
	height: 250px;
	background: url(../../img/e-cmmerce/part-5-bkg.png) no-repeat;
	background-size: 100% 100%;
}

/* ----------------- */
.m-7{
    text-align: center;
    padding: 10px;
}
.m-7 img{
    width: 100%;
}
