.part-mb{
	position: relative;
	top: 50px;
}
.first-page-mb{
	width: 100%;
	padding-top: 30px;
    padding-bottom: 30px;
	background: url(../../img/cloud/focus.png) no-repeat;
	background-size: 100% 100%;
}
.first-content-mb{
	color: #fff;
    width: 90%;
    min-width: 180px;
	margin: 0 auto;
    text-align: center;
}
.first-content-mb p:nth-of-type(1){
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 20px;
}
.first-content-mb p:nth-of-type(2){
	font-size: 12px;
	margin-bottom: 20px;
	text-align: left;
}
.first-content-mb div{
	display: inline-block;
	width: 80px;
	margin:0 6%;
}
.first-content-mb a{
	display: inline-block;
	font-size: 12px;
	width: 100%;
	line-height: 30px;
	color: #fff;
	background-color: #00a2ff;
}
.first-content-mb div:nth-of-type(2) a{
	color: #00a2ff;
	background-color: #fff;
}

/* .part-mb .content-1{
	width: 100%;
	padding: 0px 5%;
	max-width: 12rem;
	margin:0 auto;
} */

.flow-mb{
	width: 100%;
	background-color: #fff;
}
.flow-mb div div{
	width: 66%;
    height: 100%;
    margin: 30px auto;
}
.flow-mb div img{
	width: 100%;
}
.flow-mb div{
	font-size: 12px;
	text-align: center;
}
.flow-mb p{
    margin-top: 10px;
}
.part-1-mb{
	padding: 30px 7%;
	margin: 0 auto;
	width: 100%;
	background-color: #f7fbff;
}
.cloud-markting-mb{
	width: 100%;
}
.cloud-markting-right-mb{
    display: inline-block;
	width: 40%;
	vertical-align: 20px;
}
.cloud-markting-right-mb img{
	width: 100%;
	height: 100%;
}
.cloud-markting-left-mb{
	display: inline-block;
	width: 53%;
    margin-left: 5%;
}
.cloud-markting-left-mb>p:nth-of-type(1){
	font-size: 20px;
	margin-bottom: 16px;
}
.cloud-markting-left-mb>p:nth-of-type(2){
	font-size: 12px;
	margin-top: 4px;
	color: #666666;
}
.cloud-markting-left-mb>p:nth-of-type(3){
	font-size: 12px;
	margin-top: 4px;
	color: #666666;
}
.cloud-markting-left-2-mb{
    width: 100%;
	margin: 0 auto; 
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.cloud-markting-left-2-mb p{
    clear: both;
}
/* .cloud-markting-left-2-mb::after{
    content: "";
    display: block;
    clear: both;
    height: 100%;
} */
.operation-mb{
	width: 60px;
	height: 82px;
	text-align: center;
	/* float: left;
	margin-right: 10px; */
	color: #086097;
}
.operation-mb p:nth-of-type(1){
	font-size: 20px;
}
.operation-mb p:nth-of-type(2){
    font-size: 12px;
    margin-top: 10px;
}

/* -------------------------------------------- */
.part-2-mb{
	width: 100%;
	padding: 30px 7%;
	background-color: #ecf6ff;
}
.integral-left-mb{
	display: inline-block;
	vertical-align: 10px;
	width: 40%;
	margin-left: 4%;
}
.integral-left-mb img{
	width: 100%;
}
.integral-right-mb{
    width: 200px;
    margin: 60px auto 0 auto;
	height: 100%;
}
.integral-right-1-mb{
	display: inline-block;
	width: 50%;
}
.integral-right-1-mb p:nth-of-type(1){
	font-size: 20px;
	color: #000;
}
.integral-right-1-mb p{
	font-size: 12px;
	color: #666666;
	margin-top: 6px;
}
.integral-right-1-mb p:nth-of-type(2){
	margin-top: 20px;
}
.integral-right-2-mb{
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.integral-right-2-mb>div{
	margin-top: 30px;
	width: 60px;
	height: 75px;
	text-align: center;
	color: #086097;
}
/* .integral-right-2-mb div:nth-of-type(3){
	margin-right: 0;
} */
.integral-right-2-mb p:nth-of-type(1){
	font-size: 20px;
	
}
.integral-right-2-mb p:nth-of-type(2){
	font-size: 12px;
}

.content-1 .last{
	vertical-align: 49px;
}

